.botao{
    margin-top: 1rem;
    color: #FFFFFF;
    background-color: #6278F7;
    font-weight: 700;
    font-size: 18px;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.botao:hover{
   color: #95FFD4;
}